<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Burndown - Defenders</title>
  <style>
      body {
        font-family: arial, sans-serif;
        padding-top: 20px;
      }

      h1, h2 {
        text-align: center;
        margin: 0 0 20px;
      }

      h1 {
        font-size: 25px;
      }

      h2 {
        font-size: 20px;
      }

      .container {
        display: flex;
        justify-content: space-around;
      }

      .burndown-wrapper {
        width: 45%;
      }
  </style>
</head>
<body>
  
   {{{body}}}

  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="https://api.trello.com/1/client.js?key=88b6445e11c3b19a7b21d5b535e8f298"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
  <script src="scripts/burndown.js"></script>
  <script src="scripts/trello.js"></script>
</body>
</html>
