<h1>Burndown</h1>
  <hr>
  <div class="container">
    <div class="burndown-wrapper">
      <h2>Tasks</h2>
      <canvas id="myTasksChart"></canvas>
    </div>

    <div class="burndown-wrapper">
      <h2>Story Points</h2>
      <canvas id="myIssuesChart"></canvas>
    </div>
  </div>